h1 Login page
form(action="/login", method="POST")
	div
		label login
		input(name="login", value="admin", id="login")
	div
		label password
		input(type="password", name="password", value="123456", id="password")
	input(type="submit", value="login")

//- script(src="js/login.js")
